@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Indie+Flower&display=swap');

/* Google Font
    font-family: 'Charmonman', cursive;
    font-family: 'Indie Flower', cursive;
*/
.container {
    margin: auto;
    text-align: center;
}
.invisible{
    visibility: hidden;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    font-family: 'Indie Flower', cursive;
    margin: 0 auto;
    padding: 0;
    background-color:steelblue;
    color: whitesmoke;
}
h1 {
    font-family: 'Charmonman', cursive;
    margin-top: 50px;
    font-size:  5.5rem;
    color: mediumaquamarine;
}
.player{
    margin-top: 60px;
    text-align: center;
    display: inline-block;
    padding: 20px;
}
.player img{
    margin-top: 20px;
    width: 80%;
}

button{
    background-color: snow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    display: block;
}
button:hover{
    background-color: lightgoldenrodyellow;
    transform: scale(110%);
    
    border: none;
}
footer {
    margin-top: 2%;
    color: #EEEEEE;
    text-align: center;
}

@media screen and (max-width: 767px){
    h1{
        font-size:  4rem;
    }
    .player{
        width: 40%;
        padding: 10px;
    }
    .player img{
        width: 50%;
    }
}